<% provide(:title, "Blog") %>
<div>
	<% if @posts.any? %>
	  <section>
	  	<% if params[:page]==nil || params[:page]== '1'%>
	  		<article><%= link_to image_tag("base.png"), root_path %></article>
	  	<% else %>
	  		<%= will_paginate @posts, :container => false, :renderer => PaginationRendererPrevious %>  
	  	<% end %>	  	
	  	<% @posts.each_with_index do |post, i|%>
	  			<a data-toggle="modal" href="#post-popin<%= i %>">
			      	<article class="post-item">
			      		<div class="post-hover-top">
			      			<div class="post-space"></div>
			      			<span class="post-category"><%= post.category.upcase %></span>
			      		</div>
			      		<div class="post-thumb"><%= image_tag post.thumbnail.url(:thumb) %></div>
			      		<div class="post-hover-bottom">
			      			<div class="post-space"></div>
			      			<span class="post-title"><%= post.title %></span>
			      			<span class="post-author"><Maxmada><%= post.user.name%></span>
			      		</div>
			      		
						<!--Published on <%= I18n.l post.created_at.in_time_zone('Paris'), :format => '%A, %B %d %Y at %H:%M'%>.-->
						<!-- -->
					</article>
				</a>
				<div id="post-popin<%= i %>" class="modal hide fade" style="display: none; ">
					<div class="modal-header">
						<a class="close" data-dismiss="modal">×</a>
						<h3><%= post.title %></h3>
					</div>
					<div class="modal-body">
						<div class="scroll-pane">
							<%= image_tag post.thumbnail.url(:small), :class => "pull-left small-thumb" %>
							<%= raw(post.content) %>
						</div>
					</div>
					<div class="modal-footer">
						<span class="tags">
							Tags: <%= raw post.tag_list.map { |t| link_to t, tag_path(t) }.join(', ') %>
						</span>
					</div>
				</div>
	<%end%>
			<article><%= image_tag 'follow.png'%></article>
	  		<article class="about-us"><div style="display:table-cell;vertical-align: middle;#position: absolute; #top: 50%;"><div style="display: block;#position: relative; #top: -50%"><%= will_paginate @posts, :container => false, :renderer => PaginationRendererNext %><%= link_to image_tag('about-us.png', :class => "center hover-move"), "#aboutus" %></div></div></article>
	  </section>
	<% else %>
	<strong>There are no post yet.</strong>
	<% end %>
	
</div>

