<li>
  <h3><%= post.title %></h3>
  <h4><%= post.category %></h4>
  <%= image_tag post.thumbnail.url(:thumb) %>
  <span class="content"><%= raw(post.content) %></span>
  <span class="timestamp">
    Published on <%= I18n.l post.created_at.in_time_zone('Paris'), :format => '%A, %B %d %Y at %H:%M'%>.
  </span>
  <p class="tags">
  	Tags: <%= raw post.tag_list.map { |t| link_to t, tag_path(t) }.join(', ') %>
  </p>
</li>