<% provide(:title, "Edit post") %> 
<div class="hero-unit">
	<%= form_for(@post) do |f| %>
	  <%= render 'shared/error_messages', object: f.object %>
	  <div class="field">
	    <%= f.label :title %>
	  	<%= f.text_field :title, placeholder: "title" %>
	  	
	  	<%= f.label :content %>
	    <%= f.text_area :content, placeholder: "Compose new post..." %>
	  </div>
	  <%= f.submit "Save changes", class: "btn btn-large btn-primary" %>
	<% end %>
</div>
