<% if signed_in? %>
<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "fckdabeat", root_path, id: "logo",title: "< Go back to the website" %>
      <nav>
        <ul class="nav pull-right">
          <li id="fat-menu" class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                Posts <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><%= link_to "New", admin_posts_new_path %></li>
                <li><%= link_to "Edit and Delete", admin_posts_path %></li>
              </ul>
            </li>
          <li><%= link_to "About us",    '#' %></li>
          <li><%= link_to "Users", users_path %></li>
          <li class="dropdown">
          	<a href="#" class="dropdown-toggle" data-toggle="dropdown">
          		<%= current_user.name %> <b class="caret"></b>
          		</a>
          		<ul class="dropdown-menu">
          			<li><%= link_to "Profile", current_user %></li>
	                <li><%= link_to "Settings", edit_user_path(current_user) %></li>
	                <li class="divider"></li>
                	<li><%= link_to "Sign out", signout_path, method: "delete" %></li>
              	</ul>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>
<% end %>
